.App {
	display: grid;
	text-align: center;
	grid-template-columns: 1fr 80vh;
	grid-template-rows: 10vh 1fr;
	grid-template-areas:
		'header header'
		'sidebar body';
}

.App-header {
	grid-area: header;
	background-color: #282c34;
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.notes-body {
	grid-area: body;
}
