.notes-box {
	grid-area: note;
	display: flex;
	flex-direction: column;
}

.notes-box input {
	width: 260px;
	margin: 10px auto;
}

.notes-box textarea {
	width: 300px;
	height: 500px;
	margin: auto;
	padding: 5px;
}

.notes-box button {
	width: 150px;
	padding: 10px;
	margin: 10px auto;
	border: none;
	background-color: rgba(73, 70, 70, 0.055);
}
